[Unit]
Description=browsepy

[Service]
User=carlo
Group=audio
Environment=BROWSEPY_HOST=0.0.0.0
Environment=BROWSEPY_PORT=8081

WorkingDirectory=/home/carlo/data/user-files/
ExecStart=/home/carlo/.local/bin/browsepy 0.0.0.0 8081 --directory /home/carlo/data/user-files --upload /home/carlo/data/user-files --removable /home/carlo/data/user-files
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
